.header {
    position: relative;
    overflow: hidden;
    &__logo img {
        z-index: 1;
    }
    &__title {
        color: rgb(230, 20, 20);
        /* color: #000; */
        font-weight: 600;
        position: absolute;
        font-size: 1.2rem;
        top: 40px;
        margin-left: 5%;
        width: 55%;
        z-index: 2;
        font-family: 'Permanent Marker', cursive;
        @mixin atSmall {
            font-weight: 600;
            font-size: 1.5rem;
            top: 50px;
            width: 50%;
        }
        @mixin atMedium {
            font-weight: 600;
            font-size: 1.8rem;
            top: 60px;
            margin-left: 5%;
            width: 50%;
        }
        @mixin atLarge {
            font-size: 2.7rem;
            top: 80px;
            width: auto;
            font-weight: 400;
            right: 5%;
            float: right;
        }
    }
    &__phone {
        opacity: 0;
        animation-duration: 2s;
        &.animated {
            opacity: 1;
        }
        &__flex-list {
            display: flex;
            justify-content: space-around;
        }
        &__flex-item {
            list-style: none;
            font-size: 0.7rem;
            padding-top: 5px;
            color: #04099E;
            font-family: 'Itim', cursive;
            font-weight: 600;
            margin-bottom: 5px;
            @mixin atSmall {
                font-size: 1.2rem;
                margin-bottom: 5px;
            }
            @mixin atMedium {
                font-size: 1.2rem;
                margin-bottom: 3px;
            }
            @mixin atLarge {
                font-size: 1.5rem;
                margin-bottom: 5px;
            }
            & img {
                width: 1em;
            }
        }
    }
}